<?xml version='1.0'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android' xmlns:tools="http://schemas.android.com/tools" package='com.testgenjvmandroid' android:versionCode='1' android:versionName='1.0'>
	<uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />

	<application android:label='Testing genjvm on android'>
        <activity android:name='com.testgenjvmandroid.TestGenjvmAndroid'>
             <intent-filter>
                <category android:name='android.intent.category.LAUNCHER'/>
                <action android:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
    </application>
</manifest>
